VIRUSTOTAL_API_KEY=
PORT=8000
DEBUG=True
CORS_ORIGIN=http://localhost:5173

# Groq API Key
GROQ_API_KEY=

# Other Threat Intel APIs
OTX_API_KEY=
ABUSEIPDB_API_KEY=
THREATFOX_API_KEY=
HONEYDB_API_KEY=
WAZUH_API_URL=
